
<div class="py-5 border-top">
  <div class="container">

    <p class="h5 mb-3">{{ site.title | escape }}</p>

    <div class="row">

      <div class="col-sm">
          <a class="btn btn-default" target="_blank" rel="noopener" href="https://www.github.com/{{ site.repository }}" role="button">
            <i class="fa fa-github fa-lg"></i>
            Github
          </a>
      </div>

      <div class="col-sm text-right">
        <p>{{- site.description | escape -}}</p>

      </div>

    </div>

  </div>
</div>
