<nav class="navbar navbar-expand-lg navbar-light bg-light" style="display:flex">

  <div style="flex: 3">
    <a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
  </div> 

  <div style="flex: 1">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% for item in site.data.navigation %}
          {% if item.sublinks %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle {% if page.course == item.course %}active{% endif %}" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ item.title }}</a>
              <div class="dropdown-menu">
                {% for sub in item.sublinks %}
                  {% if sub.title == 'separator'%}
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item"></a>

                  {% else %}
                    <a class="dropdown-item {% if page.url contains item.url %}active{% endif %}" href="{{sub.url | relative_url}}">{{ sub.title }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            </li>
          {% else %}
            <a class="nav-item nav-link {% if page.url contains item.url %}active{% endif %}" href="{{item.url | relative_url}}">{{ item.title }}</a>
          {% endif %}
        {% endfor %}  
      </div>
  </div>

  </div> 
</nav>